# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Python Distribution / Packaging
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info

# Virtual Environment
/venv/
/env/
/.env/
/.venv/

# Webdriver Files
/webdriver/*.exe
/webdriver/*.zip
/webdriver/LICENSE.*
/webdriver/THIRD_PARTY_NOTICES.*

# IDE and Editor Files
.vscode/
.idea/
*.swp
*.swo
.ipynb_checkpoints
*.ipynb_checkpoints

# Logs and Debug
*.log
/logs/

# Project Specific
/output/
/photos/

# Environment Variables
.env
.env.*
!.env.example